@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=0DB6CB14-449F-4030-8748-9F36FCFD2123
registry=https://pkgs.dev.azure.com/greenshades/_packaging/npm-prod/npm/registry/
always-auth=true
