@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E54605A6-AA3C-4853-BB3B-C43943BF4866
registry=https://pkgs.dev.azure.com/greenshades/_packaging/npm-prod/npm/registry/
always-auth=true
