<table gsr-table [dataSource]="dataSource">
  <gsr-dg-top-bar
      [columns]="columns" 
      addButtonText="Add" 
      [toggleCompactRows]="true"
      [searchbar]="true"
      [exportButton]="true"
      [columnSelection]="true"
      [showSearchDropdown]="true"
      (addButtonClick)="onAddClicked($event)">
  </gsr-dg-top-bar>
  
  <!-- <ng-container dgColumnDef="select">
      <th *dg-header-cell> </th>
      <td *dg-column="let element;">
          <gsr-checkbox [label]="element.name" [(ngModel)]="element.selected"></gsr-checkbox>
      </td>
  </ng-container> -->

  <ng-container [dgColumnDef]="col.value" *ngFor="let col of columns">
      <th *dg-header-cell>{{ col.name }}</th>
      <td *dg-column="let element;">
          {{ element[col.value] }}
      </td>
  </ng-container>

  <ng-container dgColumnDef="expand">
      <th *dg-header-cell> </th>
      <td *dg-column="let element;">
          <h2>Details of {{element.name}}</h2>
          <div style="display: flex; width: 100%; flex-wrap: wrap; justify-content: space-between; max-width: 600px">
              <div style="display: flex; flex-direction: column;">
                  <label style="font-weight: bold;">Name</label>
                  <span>{{ element.name }}</span>
              </div>
              <div style="display: flex; flex-direction: column">
                  <label style="font-weight: bold;">Surname</label>
                  <span>{{ element.surname }}</span>
              </div>
          </div>
      </td>
  </ng-container>

  <!-- Add a new dgColumnDef named "actions" -->
  <ng-container dgColumnDef="actions">
      <th *dg-header-cell>Actions</th>
      <td *dg-column="let element;">
          <div style="display: flex; align-items: center; justify-content: center;">
              <!-- We can add the kebab menu here -->
              <gsr-kebab-menu>
                  <gsr-kebab-item icon="fas fa-edit">Edit</gsr-kebab-item>
                  <gsr-kebab-item icon="fas fa-edit">test</gsr-kebab-item>
                  <gsr-kebab-item icon="fas fa-edit">test</gsr-kebab-item>
                  <gsr-kebab-item icon="fas fa-trash" iconColor="var(--error)">Delete</gsr-kebab-item>
              </gsr-kebab-menu>
          </div>
      </td>
  </ng-container> 
  <!-- End of action columns -->

  <!-- <gsr-dg-pagination [rowsPerPage]="50" [rowsPerPageOptions]="[50, 100, 1200]"></gsr-dg-pagination> -->
  
  <tr *dgHeader="columns"></tr>
  <tr *dgRow="let row"></tr>
</table>