:host {
    display: block;
    min-width: 100%;

    ::ng-deep .gsr-dg-col {
        &-netpay, 
        &-grosspay, 
        &-deductiontotal, 
        &-eetaxes, 
        &-benefitstotal,
        &-hours,
        &-minutes,
        &-units,
        &-amount,
        &-grosswages,
        &-taxablewages {
            text-align: right;
        }

        &-overview {
            &-checkdate {
                width: 100px;
                min-width: 100px;
                max-width: 100px;
            }

            &-type {
                width: 168px;
                min-width: 168px;
                max-width: 168px;
            }

            &-netpay {
                width: 190px;
                min-width: 190px;
                max-width: 190px;
            }

            &-grosspay, &-deductiontotal, &-eetaxes {
                width: 170px;
                min-width: 170px;
                max-width: 170px;
            }

            &-benefitstotal {
                width: 135px;
                min-width: 135px;
                max-width: 135px;
            }
        }
    }

    ::ng-deep .search-bar-container .glyph-container {
        height: 38px !important
    }

    &[data-tab="Overview"] ::ng-deep {
        .gsr-dg-col-header {
            &-checkdate {
                width: 100px;
                min-width: 100px;
                max-width: 100px;
            }

            &-type {
                width: 168px;
                min-width: 168px;
                max-width: 168px;
            }

            &-netpay {
                width: 190px;
                min-width: 190px;
                max-width: 190px;
            }

            &-grosspay, &-deductiontotal, &-eetaxes {
                width: 170px;
                min-width: 170px;
                max-width: 170px;
            }

            &-benefitstotal {
                width: 135px;
                min-width: 135px;
                max-width: 135px;
            }
        }
    }
}