<table gsr-table 
    [dataSource]="dataSource"
    [virtualization]="false"
    [loading]="loading"
    [compactRows]="true"
    [staticHeader]="true">

    <gsr-dg-top-bar
        [columns]="columns"
        addButtonText=""
        [toggleCompactRows]="false"
        [searchbar]="true"
        [predictiveSearch]="true"
        [columnSelection]="activeTab === 'Overview'"
        (predictiveSearchValue)="onPredictiveSearch($event)"
        [standalonePredictiveSearch]="searchOptions"
        [predictiveDebounce]="400"
        [exportButton]="true"
        [showSearchDropdown]="true"
        exportLabel="Export"
        exportLabelIcon=""
        [exportOptions]="exportOptions">
    </gsr-dg-top-bar>

    <ng-container [dgColumnDef]="col.value" *ngFor="let col of columns; let i = index" [searchFn]="searchFn(col.value)">
        <th *dg-header-cell class="gsr-dg-header-{{activeTab.toLowerCase()}}">{{ col.name }}</th>
        <ng-container *dg-column="let element;">
            <td class="gsr-dg-col" *ngIf="!element.details?.length && col !== 'actions'">{{ element[col.value] }}</td>
            <tr class="test gsr-text-truncation gsr-dg-row" *ngIf="element.details?.length && !i">
                <td class="gsr-dg-col" colspan="9">
                    <a [href]="element.payrunId" class="gs-text-blue fakeLink gs-small-semi-bold">{{ element.payrunName }}</a> | Work period {{ element.workPeriod }} | Payment method: {{ element.paymentMethod }} {{element.paymentId}}
                </td>
            </tr>
            <ng-container *ngIf="element.details?.length && !i">
                <tr class="test-child gsr-dg-row" *ngFor="let child of element.details">
                    <ng-container *ngFor="let col of columns">
                        <td class="
                            gsr-dg-col
                            gsr-dg-col-{{col.value.toLowerCase()}}
                            gsr-dg-col-{{activeTab.toLowerCase()}}-{{col.value.toLowerCase()}}"
                            [class.text-center]="col.value === 'actions'"
                            *ngIf="col.checked"
                            >

                            <a *ngIf="col.value === 'actions'" href="#" class="fakeLink gs-text-blue gs-small-semi-bold">View</a>
                            <!-- If the column has a footer, use the same formatter -->
                            {{ col.footer ? col.footer(child[col.value]) : child[col.value] }} 
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="i > 1">
            <td *dg-footer-cell>{{ i ? totalValues.get(col.value) : 0 }}</td>
        </ng-container>
    </ng-container>

    <gsr-dg-table-footer [descriptionColSpan]="2" [sticky]="true">
        <td colspan="2" description-cell>Total</td>
    </gsr-dg-table-footer>
    <tr *dgHeader="columns"></tr>
    <tr *dgRow="let row"></tr>
</table>