:host {
    display: block;
    min-width: 100%;

    ::ng-deep .dg-table-container {
        max-height: 450px;
    }

    ::ng-deep tr {
        height: 40px;
    }

    ::ng-deep .gsr-dg-col {
        &-netpay, 
        &-grosspay, 
        &-deductiontotal, 
        &-eetaxes, 
        &-benefitstotal,
        &-hours,
        &-minutes,
        &-units,
        &-amount,
        &-grosswages,
        &-taxablewages {
            text-align: right;
        }

        &-overview {
            &-checkdate {
                width: 100px;
                min-width: 100px;
                max-width: 100px;
            }

            &-type {
                width: 168px;
                min-width: 168px;
                max-width: 168px;
            }

            &-netpay {
                width: 190px;
                min-width: 190px;
                max-width: 190px;
            }

            &-grosspay, &-deductiontotal, &-eetaxes {
                width: 170px;
                min-width: 170px;
                max-width: 170px;
            }

            &-benefitstotal {
                width: 135px;
                min-width: 135px;
                max-width: 135px;
            }
        }

        &-earnings {
            &-type {
                width: 112px;
            }
            &-earningcode {
                width: 220px;
            }
            &-checkdate {
                width: 138px;
            }
            &-locationcode {
                width: 150px;
            }
            &-hours, &-units {
                width: 60px;
            }
            &-minutes {
                width: 74px;
            }
            &-payrate {
                width: 130px;
            }
            &-grosspay {
                width: 250px;
            }
        }

        &-deductions {
            &-deductioncode {
                width: 370px;
            }

            &-type {
                width: 203px;
            }

            &-checkdate {
                width: 200px;
            }

            &-amount {
                width: 422px;
                text-align: right;
            }
        }
    }

    ::ng-deep .search-bar-container .glyph-container {
        height: 38px !important
    }

    .text-center {
        text-align: center;
    }

    .fakeLink {
        text-decoration: none;
    }

    &[data-tab="Overview"] ::ng-deep {
        .gsr-dg-col-header {
            &-checkdate {
                width: 100px;
                min-width: 100px;
                max-width: 100px;
            }

            &-type {
                width: 168px;
                min-width: 168px;
                max-width: 168px;
            }

            &-netpay {
                width: 190px;
                min-width: 190px;
                max-width: 190px;
            }

            &-grosspay, &-deductiontotal, &-eetaxes {
                width: 170px;
                min-width: 170px;
                max-width: 170px;
            }

            &-benefitstotal {
                width: 135px;
                min-width: 135px;
                max-width: 135px;
            }
        }
    }

    // &[data-tab="Deductions"], &[data-tab="Benefits"], &[data-tab="Taxes"] {
        ::ng-deep {
            .gsr-dg-col-header-amount, 
            .gsr-dg-col-header-taxablewages, 
            .gsr-dg-col-header-grosswages,
            .gsr-dg-col-header-hours,
            .gsr-dg-col-header-minutes,
            .gsr-dg-col-header-units,
            .gsr-dg-col-header-grosspay,
            .gsr-dg-col-header-netpay,
            .gsr-dg-col-header-deductiontotal,
            .gsr-dg-col-header-eetaxes,
            .gsr-dg-col-header-benefitstotal
            {
                div th {
                    width: 100%;
                    text-align: right;
                }
            }
        }
    // }
}