<div class="gs-container noPadding" [formGroup]="checkDatesForm">
    <div class="gs-row noPadding">
        <div class="gs-col-6 gs-row check-dates">
            <gsr-calendar
                #fromDate
                class="gs-col-3"
                label="From check date"
                placeholder=" "
                displayFormat="MM/DD/YYYY"
                [helperText]="fromDate.hasError('fromGreaterThanTo') ? 'Must be before “To” date.' : ''"
                [optionalText]="''"
                formControlName="from">
            </gsr-calendar>
            <gsr-calendar
                #toDate
                [optionalText]="''"
                [helperText]="toDate.hasError('toLessThanFrom') ? 'Must be after “From” date.' : ''"
                placeholder=" "
                class="gs-col-3"
                label="To check date"
                displayFormat="MM/DD/YYYY"
                formControlName="to">
            </gsr-calendar>
            <gsr-button (click)="run()" [disabled]="!checkDatesForm.dirty">Run</gsr-button>
        </div>
    </div>
</div>
<div class="ee-cards gs-container">
    <div class="gs-row" style="margin-left: 0">
        <gsr-card *ngFor="let card of cards" type="normal">
            <div class="gs-body-semi-bold text-center">{{ card.name }}</div>
            <gs-loading [isLoading]="loadingCards">
                <div class="gs-header-3 text-center">{{ card.value | currency: 'USD' : '$' : '1.2-2' }}</div>
            </gs-loading>
        </gsr-card>
    </div>
</div>
<div class="gs-container">
    <div class="gs-row">
        <gsr-tab-group class="gs-col-12">
            <gsr-tab *ngFor="let tab of tabs" [label]="tab.name" (onActive)="getData(tab)">
                <app-ee-card-tab
                    [attr.data-tab]="tab.name"
                    [loading]="loading"
                    [dataSource]="dataSource"
                    [activeTab]="tab.name"
                    [totalValues]="totalValues"
                    [columns]="tab.columns">
                </app-ee-card-tab>
            </gsr-tab>
        </gsr-tab-group>
    </div>
</div>